<app-nav></app-nav>
<div class="d-flex  justify-content-center contenedor ">


 <div *ngFor="let item of likedBordados; let i=index" class="imagen">
  <div class="card ">
      <h4 class="card-title text-center">{{item.name}}</h4>
    <img class="card-img-top" src="http://laravel.example.com{{item.resizedpath}}" (click)="open(i)" alt="Card image cap">
    <div class="card-block">
      <p class="card-text text-center">{{item.description}}</p>
      <p class="card-footer">
        <small class="text-muted">Uploaded by
          <a routerLink="/bordados/{{item.user.id}}" routerLinkActive="active" >{{item.user.name}}</a>
        </small>
          <img [src]="item.liked ? 'assets/like.png' : myImgUrl" (click)="like($event,item.id)" class="like pull-right" alt="">
     </p>
   </div>
  </div>
  </div>

 </div>