
<nav class="navbar  navbar-light bg-faded">

 <ul class="navbar-nav mr-auto">
    <button mat-icon-button [matMenuTriggerFor]="menu">
	    <mat-icon>list</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		    <button mat-menu-item routerLink="/cards" routerLinkActive="active">
			    <mat-icon>home</mat-icon>
			    <span>Main page</span>
		     </button> 
	        <button mat-menu-item routerLink="/create" routerLinkActive="active">
		        <mat-icon>add</mat-icon>
			    <span>Create new</span>
	        </button>
	    	<button mat-menu-item routerLink="/liked" routerLinkActive="active">
			    <mat-icon>favorite</mat-icon>
			    <span>View favorites</span>
	        </button>
    </mat-menu>
 </ul>
 Hi  {{nombre}}  
 <a role="button" (click)="logout()">&nbsp; , Log out?</a>
</nav>
